* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  margin-right: 10px;
}

a {
  color: seashell;
}

.content {
  position: relative;
  top: 70px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2, h3, h4 {
    margin: 0;
    padding: 10px;
  }

#mission {
  background-image: url(../mission.jpg);
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statement {
  background-color: black;
}

#featured {
  width: 1000px;
  margin: 0 auto;
  padding-top: 70px;

}

.tea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
}

h3 {
  font-size: 22px;
}

#fall {
  background-image: url(../berryblitz.jpg);
}

#spiced {
  background-image: url(../spiced-rum.jpg);
}

#donuts {
  background-image: url(../donut.jpg);
}

#myrtle {
  background-image: url(../myrtle.jpg);
}

#bedford {
  background-image: url(../bedford-bizarre.jpg);
}

#locations {
  background-image: url(../locations.jpg);
}

.adress {

}

footer {

}

.contact {

}

.copyright {

}
