body {
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

body, a {
  color: seashell;
}

body, header, .statement, .adress {
  background-color: black;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.full-width {
  width: 100%;
}

header {
  position: fixed;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
}

#logo img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  margin-right: 10px;
}

nav span {
  padding: 20px 10px;
}

.content {
  padding-top: 70px;
  width: 1200px;
  margin: auto;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

#mission {
  background-image: url(../mission.jpg);
  height: 700px;
}

#featured {
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  padding-top: 70px;
}

.tea {
  flex-wrap: wrap;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  margin: 10px;
  display: block;
}

.item span {
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#locations {
  background-image: url(../locations.jpg);
  height: 500px;
  padding-top:70px;
}

.adress {
  width: 300px;
  opacity: 1;
  padding: 10px;
  margin: 5px 20px;
}

.contact {
  height: 200px;
}

footer {
  text-align: left;
  padding-left: 20px;
}
