* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  margin-right: 10px;
}

a {
  color: seashell;
}

.content {

}

#mission {
  background-image: url(../mission.jpg);
}

.statement {

}

#featured {
}

.tea {

}

#fall {
  background-image: url(../berryblitz.jpg);
}

#spiced {
  background-image: url(../spiced-rum.jpg);
}

#donuts {
  background-image: url(../donut.jpg);
}

#myrtle {
  background-image: url(../myrtle.jpg);
}

#bedford {
  background-image: url(../bedford-bizarre.jpg);
}

#locations {
  background-image: url(../locations.jpg);
}

.adress {

}

footer {

}

.contact {

}

.copyright {

}
